
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: black;
}
hr {
    display: none;
}
/*----------------------------------------------- headings and logo */

#head {
    position: fixed;
    left: 0;
    top: 0;
    background: #f2e2d2;
    line-height: 75px;
    width: 100%;
    height: 90px;
}
h1 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2c353a;
}
#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/*----------------------------------------------- navigations links */

#menu {
    font-size: 130%;
    letter-spacing: 4px;
    padding: 0;
    margin: 0;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover  {
    border-bottom: 1px solid #221b21;
    cursor: pointer;
}
.active {
    border-bottom: 1px solid #221b21;
}

/*----------------------------------------------- hero image */

#hero-outer {
    height: auto;
    width: auto;
    overflow: hidden;
    }
#cover-text, #cover-text h2 {
    color: #fff;
}
#cover-text h2 {
    font-size: 30px;
}
#hero-image {
    margin-top: 115px;
    clear: left;
    height: 800px;
    background: url(../images/balance.jpg) no-repeat;
    background-size: cover;
    background-position: center;
/*----- animates zoom effect on landing page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*----- creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
#cover-text {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 300px;
    height: auto;
    border-radius: 50px;
    text-align: center;
    background-color: rgba(90, 60, 60, 0.6);
    bottom: 300px;
    right: 290px;
    position: absolute;
}

/*----------------------------------------------- welcome section*/

#welcome {
    height: auto;
    margin: auto;
    text-align: center;
    width: 90%;
}
#welcome h2, #welcome h3 {
    font-weight: bold;
    letter-spacing: 4px;
}
#welcome h2 {
    padding: 80px;
    font-size: 50px;
    text-align: center;
}
#welcome h3 {
    font-size: 40px;
    padding-top: 80px;
    padding-left: 30px;
    padding-bottom: 40px;
    text-align: left;
    font-weight: bold;
}
#welcome p {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
}
#welcome h4 {
    padding-top: 120px;
    text-align: left;
    padding-left: 30px; 
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
}
#welcome a {
    color: #bba077;
}
#aboutyoga {
    border: 2px solid transparent;
    overflow: hidden;
    display: inline-flex;
    width: 90%;
    height: auto;
}
#practice, #about {
    height: 600px;
    padding: 8px;
}
#practice {
    background: url(../images/yoga-practice1.jpg) no-repeat;
    background-position: center;
    width: 100%;
}
#about {
    width: 100%;
}
#about p {
    padding-right: 50px;
}
/*----------------------------------------------- discover */

#discover {
    height: auto;
    margin: auto;
    text-align: center;
    max-width: 90%;
}
#discover a {
    color: #bba077;
}
#classes h2, #classes h3 {
    letter-spacing: 4px;
    font-weight: bold;
}
#classes h2 {
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 50px;
    text-align: center;
}
#classes h3 {
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: left;
    padding-left: 30px;
}
#classes p {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
}
#classes h4 {
    padding: 80px;
    font-size: 35px;
    font-weight: bold;
}
#left {
    border: 2px solid transparent;
    overflow: hidden;
    display: inline-flex;
    width: 100%;
}
#studio, #indoor {
    height: 600px;
    padding: 8px;
}
#studio {
    background: url(../images/yogastudio.jpg) no-repeat;
    background-position: center;
    width: 100%;
    border-left: 2px solid transparent;
}
#indoor {
    background-color: #fff;
    overflow: hidden;
    margin: 10px;
    border: 2px dashed transparent;
    height: auto;
    width: 100%;
}
#left p {
    float: left;
    width: 80%;
    text-align: center;
}
#right {
    border: 2px solid transparent;
    overflow: hidden;
    display: inline-flex;
    width: 100%;
}
#outdoor, #mountain {
    height: 600px;
    padding: 8px;
}
#mountain {
    border-right: 2px solid transparent;
    width: 100%;
    background: url(../images/woman-on-mountain.jpg) no-repeat;
    background-position: center;
}
#outdoor {
    background-color: #fff;
    overflow: hidden;
    margin: 10px;
    border: 2px dashed transparent;
    height: auto;
    width: 100%;
}
#right p {
    float: right;
    width: 80%;
    text-align: center;
}
#center{
    border: 2px solid transparent;
    overflow: hidden;
    display: inline-flex;
    width: 100%;
}
#online, #yogamat {
    height: 600px;
    padding: 8px;
}
#online {
    border-left: 2px solid transparent;
    width: 100%;
    background: url(../images/yoga-mat.jpg) no-repeat;
    background-position: center;
}
#yogamat {
    background-color: #fff;
    overflow: hidden;
    margin: 10px;
    border: 2px dashed transparent;
    height: auto;
    width: 100%;
}
#center p {
    float: left;
    width: 80%;
    text-align: center;
}
/*----------------------------------------------- style to sign-up.html */

.sign-in-section {
    clear: left;
    height: 1000px;
    color: #f2e2d2;
    background: url(../images/../images/yogastudio.jpg);
    background-size: cover;
    background-position: center;
    font-size: 30px;
    line-height: 40px; 
    overflow: hidden; 
}
.sign-in-section a {
    color: #f2e2d2;
}
.signup-form {
    clear: left;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 500px;    
    position: inherit;
    left: 10%;
    padding: 30px;
    height:70%;
    border-radius:80px;
    margin: 180px 80px 80px;
}
.text-style {
    background-color: transparent;
    color: #f2e2d2;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 20px;
}
.text-style:hover {
    border-color: #f2e2d2;
}
.click {
    margin-top: 20px;
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f2e2d2;
    color: black;
    display: block;
}
.click:hover {
    background-color: black;
    color: #f2e2d2;
    cursor: pointer;
}


/*----------------------------------------------- footer */

footer {
    margin: 1%;
}
#social-network {
    text-align: center;
}
#social-network > li {
    display: inline;
}
#social-network i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #221b21;
}


/*----------------------------------------------- connect.html */

#start {
    height: auto;
    margin: 0;
    width: 90%;
    text-align: center;
    font-size: 24px;
}
#first_step {
    height: auto;
}
#first_step h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 100px;
}
#first_step h3 {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    padding: 60px;
}
#first_step p {
    padding: 80px;
}
#connect-form {
    max-width: 90%;
    margin:auto;
    height: auto;
    color: black;
    font-size: 24px;
    line-height: 70px;
}
#meditation, #pref {
    height: 900px;
    padding: 8px;
    margin: 50px;
}
#meditation {
    background: url(../images/yoga-meditation1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: auto;    
}
#pref {
    display: inline-flex;
    width: 90%;
    border: 2px solid transparent;
}
.schedule {
    margin-left: 180px;
    text-align: center;
    letter-spacing: 4px;
    background-color: #f2e2d2;
    background-size: contain;
    width: 100%;
    padding: inherit;
    margin: 50px;
}
.pick {
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(60, 60, 60, 0.6);
    color: white;
    margin: auto;
}
.pick:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.schedule h3 {
    text-align: left;
}
.connect-form h3 {
    padding: 50px;
}
.options {
    text-align: left;
    padding-left: 30px;
    height: 100px;
}
#time-table {
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    font-size: 90%;
}
#board {
    height: auto;
    max-width: 90%;
    margin: auto;
}
.table {
    height: auto;
    width: 90%;
    background-position: center;
    background-size: cover;
    border: 2px solid transparent;
    margin: 80px;
    padding: 10px;
    display: inline-block;
}
h2 {
    font-size: 40px;
    text-align: center;
    padding: 40px;
}
.table h3 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
.table h4 {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
.table h4:hover {
    background-color: #2c353a;
    color: #fff;
    cursor: pointer;
}
.day1, .day3, .day5 {
    margin-left:auto;
    margin-right:auto;
    height: auto; 
    margin: 20px;
}
.day2, .day4, .day6 {
    margin-left:auto;
    margin-right:auto;
    height: auto;  
    margin: 20px;
}
.day1 {
    border-radius: 50px;
    border:2px solid transparent;
    background-color: tomato;
    width: 30%;
    display:inline-block;
}
.day2 {
    border-radius: 50px;
    border: 2px solid transparent;
    background-color: yellow;
    width: 30%;
    display:inline-block;
}
.day3 {
    border-radius: 50px;
    border: 2px solid transparent;
    background-color: #ffd2fc;
    width: 30%;
    display: inline-block;
}
.day4 {
    border-radius: 50px;
    border: 2px solid transparent;
    background-color: #47bfff;
    width: 30%;
    display: inline-block;
}
.day5 {
    border-radius: 50px;
    border: 2px solid transparent;
    background-color: #2bdeab;
    width: 30%;
    display: inline-block;
}
.day6 {
    border-radius: 50px;
    border: 2px solid transparent;
    background-color: #d496a7;
    width: 30%;
    display: inline-block;
}
#plan {
    height: auto;
    max-width: 90%;
    margin: auto;
    background: url(../images/yogastudio.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.box {
    display: inline-flex;
    line-height: 50px;
}
#plan h2 {
    font-size: 40px;
    text-align: center;
    padding: 80px;
}
#plan-box {
    font-size: 25px;
    color: #fff;
    width: 33%;
    height: 400px;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
    border: 2px solid transparent;
    border-radius: 80px 80px 80px 80px;
    padding: 30px;
    margin: 50px;
    position: inherit; 
    float: left;    
    letter-spacing: 1px;
}
#plan-box-two {
    font-size: 25px;
    color: #fff;
    width: 33%;
    height: 400px;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
    border: 2px solid transparent;
    border-radius: 80px;
    margin: 50px;
    padding: 30px;
    position: inherit; 
    float: left;
    letter-spacing: 1px; 
}
#plan-box-three {
    font-size: 25px;
    color: #fff;
    width: 33%;
    height: 400px;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
    border: 2px solid transparent;
    border-radius: 80px;
    margin: 50px;
    padding: 30px;
    position: inherit; 
    float: left;  
    letter-spacing: 1px;   
}
.select_plan {
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f2e2d2;
    color: black;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
.select_plan:hover {
    background-color: black;
    color: #f2e2d2;
    cursor: pointer;
}

/*----------------------------------------------- screen size 1200px and down */

@media screen and (max-width: 1200px){
    #logo {
        font-size: 90%;
    }
    #cover-text {
        letter-spacing: 1px;
        padding: 0;
        right: 150px;
        width: 250px;
    }
    #cover-text h2 {
        font-size: 20px;
    }
    #menu {
        font-size: 70%;
        letter-spacing: 2px;
    }
    #hero-outer {
        height: 800px;
        width: auto;
        overflow: hidden;
        }
    #welcome {
        margin: auto;
        height: auto;
    }
    #welcome p {
        font-size: 18px;
    }
    #aboutyoga {
        border: 2px solid transparent;
        overflow: hidden;
        display: table;
        width: 100%;
        height: auto;
    }
    #practice, #about {
        height: 600px;
        padding: 8px;
    }
    #practice {
        background: url(../images/yoga-practice1.jpg) no-repeat;
        background-position: center;
        width: 100%;
        margin: 10px;
    }
    #about {
        width: 100%;
        display: table-header-group;
        padding: 20px;
    }
    #about p {
        padding-bottom: 20px;
    }
    /*------------------------------------------- discover */
    #discover {
        height: auto;
        margin: auto;
    }
    #discover p {
        font-size: 18px;
    }
    #classes h4 {
        padding: 50px;
    }
    #left {
        border: 2px solid transparent;
        display: table;
    }
    #left p {
        width: 100%;
    }
    #right {
        border: 2px solid transparent;
        display: table;
    }
    #right p {
        width: 100%;
    }
    #center{
        border: 2px solid transparent;
        display: table;
    }
    #center p {
        width: 100%;
    }
    #studio {
        background: url(../images/yogastudio.jpg) no-repeat;
        background-position: center;
        border-left: 2px solid transparent;
        width: 100%;
        margin: 10px;
    }
    #indoor {
        background-color: #fff;
        margin: 10px;
        border: 2px dashed transparent;
        height: auto;
        text-align: center;
        width: 100%;
        display: table-footer-group;
    }
    #mountain {
        border-right: 2px solid transparent;
        background: url(../images/woman-on-mountain.jpg) no-repeat;
        background-position: center;
        width: 100%;
        margin: 10px;
    }
    #outdoor {
        background-color: #fff;
        margin: 10px;
        border: 2px dashed transparent;
        height: auto;
        text-align: center;
        width: 100%;
        display: table-footer-group;
    }
    #online {
        border-left: 2px solid transparent;
        background: url(../images/yoga-mat.jpg) no-repeat;
        background-position: center;
        width: 100%;
        margin: 10px;
    }
    #yogamat {
        background-color: #fff;
        margin: 10px;
        border: 2px dashed transparent;
        height: auto;
        text-align: center;
        width: 100%;
        display: table-footer-group;
    }
    /*------------------------------------------- Connect page */
    #start {
        height: auto;
        margin-top: 90px;
        overflow: hidden;
    }
    #connect-form {
        height: auto;
        margin: 0;
        font-size: 20px;
    }
    #pref {
        display: unset;
        width: 100%;
        border: 2px solid transparent;
    }
    #meditation {
        background: url(../images/yoga-meditation.jpg) no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 700px;
        margin: 5%;
        border: 2px solid transparent;
    }
    .schedule {
        background-position: center;
        margin: 5%;
        margin-bottom: 50px;
        margin-top: 20px;
        padding: 10px;
        letter-spacing: 2px;
    }
    /*------------------------------------------- Class options*/
    #board {
        height: auto;
        margin: 0;
        width: 100%;
        float: left;
        overflow: hidden;
    }
    .table {
        background-position: center;
        background-size: cover;
        border: 2px solid transparent;
        margin: 60px;
        padding: 15px;
        flex-direction: column;
        justify-content: center;
        display: inline-flex;
    }
    .table h4 {
        font-size: 18px;
    }
    .day1, .day3, .day5 {
        margin: 15px;
    }
    .day2, .day4, .day6 {
        margin: 15px;
    }
    .day1 {
        font-size: 25px;
        border-radius: 50px;
        border:2px solid transparent;
        background-color: tomato;
        width: auto;
    }
    .day2 {
        font-size: 25px;
        border-radius: 50px;
        border: 2px solid transparent;
        background-color: yellow;
        width: auto;
        }
    .day3 {
        font-size: 25px;
        border-radius: 50px;
        border: 2px solid transparent;
        background-color: #ffd2fc;
        width: auto;
        }
    .day4 {
        font-size: 25px;
        border-radius: 50px;
        border: 2px solid transparent;
        background-color: #47bfff;
        width: auto;
        }
    .day5 {
        font-size: 25px;
        border-radius: 50px;
        border: 2px solid transparent;
        background-color: #2bdeab;
        width: auto;
    }
    .day6 {
        font-size: 25px;
        border-radius: 50px;
        border: 2px solid transparent;
        background-color: #d496a7;
        width: auto;
        }
    
    /*------------------------------------------- Plan and pricing */
    #plan {
        display: block;
        width: 90%;
        background: url(../images/yogastudio.jpg) no-repeat;
        background-position: center;
        background-size:cover;
        text-align: center;
        margin: auto;
        float:none;
        overflow: hidden;
    }
    .box {
        display: unset;
        line-height: 50px;
    }
    #plan h2 {
        font-size: 40px;
        text-align: center;
        padding: 80px;
    }
    #plan-box {
        color: #fff;
        width: 45%;
        height: 450px;
        background-color: rgba(60, 60, 60, 0.6);
        text-align: center;
        border: 2px solid transparent;
        border-radius: 80px 80px 80px 80px;
        padding: 15px;
        margin: 30px;
        position: inherit; 
        letter-spacing: 1px;
        margin-left: 25%;
    }
    #plan-box-two {
        color: #fff;
        width: 45%;
        height: 450px;
        background-color: rgba(60, 60, 60, 0.6);
        text-align: center;
        border: 2px solid transparent;
        border-radius: 80px;
        margin: 30px;
        padding: 15px;
        position: inherit; 
        letter-spacing: 1px; 
        margin-left: 25%;
    }
    #plan-box-three {
        color: #fff;
        width: 45%;
        height: 450px;
        background-color: rgba(60, 60, 60, 0.6);
        text-align: center;
        border: 2px solid transparent;
        border-radius: 80px;
        margin: 30px;
        padding: 15px;
        position: inherit;  
        letter-spacing: 1px; 
        margin-left: 25%;  
    }
    .select_plan {
      
        border-radius: 8px;
        padding: 15px 30px 15px 30px;
        text-align: center;
        background-color: #f2e2d2;
        color: black;
        display: block;
        margin-top:20px;
        margin: auto;
    }
}

/* ------------------------------------------ screen size for 600px and down */

@media screen and (max-width: 600px){
    body {
        font-size: 15px;
        text-align: center;
    }
    #head {
        font-size: 15px;
        height: auto;
        line-height: 35px;
    }
    #menu {
        font-size: 55%;
        letter-spacing: 1px;
        display: inline-block;
    }
    #hero-outer {
        height: 800px;
        width: auto;
        overflow: hidden;
        }
    
    #cover-text {
        font-family: roboto, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        height: auto;
        background-color: rgba(90, 60, 60, 0.6);
        bottom: 300px;
        position: absolute;
        right: 19px;
    }
    #cover-text h2 {
        padding: 10px;
    }
    #welcome {
        height: auto;
        margin: auto;
    }
    #welcome h2 {
        font-size: 20px;
    }
    #welcome h3, #welcome h4 {
        font-size: 20px;
        letter-spacing: 2px;
    }
    #welcome p {
        font-size: 15px;
        letter-spacing: 1px;
    }
    #practice {
        margin-top: 10px;
    }
    #about p {
        padding-right: 0;
    }
    /*------------------------------------------- discover */
    #discover {
        height: auto;
        margin: auto;
    }
    #discover h2 {
        font-size: 20px;
    }
    #discover h3, #discover h4 {
        font-size: 20px;
        letter-spacing: 2px;
    }
    #discover p {
        font-size: 15px;
        letter-spacing: 1px;
    }
    #classes h4 {
        padding: 20px;
    }
    #studio {
        float: none;
        margin-left: 0;
        width: auto;
        border: 0;
        border-bottom: 2px solid transparent;
        text-align: center;
        background-position: center;
    }
    #indoor {
        text-align: center;
        font-size: 15px;
    }
    #left p {
        width: 95%;
        text-align: center;
        padding: 5px;
    }
    #mountain {
        border-bottom: 2px solid transparent;
        width: auto;
        margin-right: 0;
        float: none;
        border: 0;
        text-align: center;
        background-position: center;
    }
    #outdoor {
        text-align: center;
        font-size: 15px;
    }
    #right p {
        width: 95%;
        text-align: center;
        padding: 5px;
    }
    #online {
        border-left: 2px solid transparent;
        width: auto;
        margin-left: 0;
        float: none;
        border: 0;
        background-position: center;
    }
    #yogamat {
        text-align: center;
        font-size: 15px;
    }
    #center p {
        width: 95%;
        text-align: center;
        padding: 5px;
    }
    /*------------------------------------------- connect page */
    #start {
        height: auto;
        width:100%;
        font-size: 15px;
        padding: 10px;
        margin: 0;
    }
    #first_step h2 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding-top: 90px;
    }
    #first_step h3 {
        font-size: 18px;
        font-weight: lighter;
        text-align: center;
    }
    #connect-form {
        width: 100%;
        height: auto;
        color: black;
        font-size: 15px;
        line-height: 20px;
    }
    #meditation {
        width: 100%;
        float:none;
        background-size: contain;
        height: 300px;
    }
    .schedule {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        letter-spacing: 1px;
        background-color: #f2e2d2;
        width: 100%;
    }
    .schedule h2 {
        margin: 20px;
        font-size: 20px;
        text-align: center;
    }
    .schedule h3 {
        text-align: left;
    }
    .connect-form h3 {
        padding: 30px;
    }
    .options {
        text-align: left;
        padding-left: 30px;
        height: 100px;
    }
    #time-table {
        padding: 15px 30px 15px 30px;
        border-radius: 8px;
        font-size: 90%;
    }
    #board {
        height: auto;
        float: left;
    }
    #board h2 {
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
    }
    #board h3, #board h4 {
        font-size: 15px;
    }
    .table {
        height: auto;
        width: 100%;
        background-position: center;
        background-size: cover;
        border: 2px solid transparent;
        margin-left: 0;
        padding: 20px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    .day1, .day2, .day3 {
        display: block;
        height: auto;
    }
    .day4, .day5, .day6 {
        display: block;
        height: auto;
    }
    #plan {
        height: auto;
        max-width: 90%;
        background: url(../images/yogastudio.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        overflow: hidden;
    }
    .box {
        display: unset;
    }
    #plan-box {
        font-size: 13px;
        color: #fff;
        width: 50%;
        height: 350px;
        background-color: rgba(60, 60, 60, 0.6);
        text-align: center;
        border: 2px solid transparent;
        border-radius: 80px;
        padding: 30px;
        margin: 50px;
        letter-spacing: 1px;
    }
    #plan-box-two {
        font-size: 13px;
        color: #fff;
        width: 50%;
        height: 350px;
        background-color: rgba(60, 60, 60, 0.6);
        text-align: center;
        border: 2px solid transparent;
        border-radius: 80px;
        margin: 50px;
        padding: 30px;
        letter-spacing: 1px; 
    }
    #plan-box-three {
        font-size: 13px;
        color: #fff;
        width: 50%;
        height: 350px;
        background-color: rgba(60, 60, 60, 0.6);
        text-align: center;
        border: 2px solid transparent;
        border-radius: 80px;
        margin: 50px;
        padding: 30px; 
        letter-spacing: 1px; 
    }
    .select_plan {
        border-radius: 8px;
        padding: 15px 30px 15px 30px;
        text-align: center;
        background-color: #f2e2d2;
        color: black;
        display: block;
        margin: auto;
    }
    /*------------------------------------------- Sign up section*/
    .sign-in-section {
        font-size: 15px;
        padding: 16px;
        line-height: 18px;
        height:auto;
    }
    .sign-in-section h2 {
        font-size: 20px;
    }
    .signup-form {
        position:unset;
        margin: 100px 10px 0 0;
        letter-spacing: 2px;
    }
}


