
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');


* {
    margin: auto;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

#head {
    position: fixed;
    margin: auto;
    z-index: 100px;
    background: #f2e2d2;
    width: 100%;
    line-height: 75px;
}

h1 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2c353a;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigations links */

#menu {
    font-size: 130%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #221b21;
}

.active {
    border-bottom: 1px solid #221b21;
}

/* hero image */

#hero-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    margin-top: 115px;
    width: 100%;
    height: 800px;
    background: url(../images/balance.jpg) no-repeat center center;
/* animates zoom effect on landing page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 400px;
    height: 100px;
    padding-top: 40px;
    padding-left: 20px;
    background-color: rgba(90, 60, 60, 0.6);
    bottom: 300px;
    right: 150px;
    position: absolute;
}

/* welcome */

#welcome {
    height: auto;
    margin: auto;
    text-align: center;
}

#welcome h2, #welcome h3 {
    font-weight: bold;
    letter-spacing: 4px;
}

#welcome h2 {
    padding: 80px;
    font-size: 50px;
    text-align: center;
}

#welcome h3 {
    font-size: 40px;
    padding-top: 80px;
    padding-left: 30px;
    padding-bottom: 40px;
    text-align: left;
}

#welcome p {
    text-align: left;
    padding-left: 25px;
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 2px;
}

#welcome h4 {
    padding-top: 120px;
    text-align: left;
    padding-left: 30px; 
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* discover */

#discover {
    height: auto;
    margin: auto;
    text-align: center;
}

#classes h2, #classes h3 {
    letter-spacing: 4px;
    font-weight: bold;
}
#classes h2 {
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 50px;
    text-align: center;
}

#classes h3 {
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: left;
    padding-left: 30px;
}

#classes p {
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 2px;
    padding-left: 25px;
}

#classes h4 {
    padding: 80px;
    font-size: 30px;
}


#left {
    border: 10px;
    height: 500px;
    width: 100%;
    padding: 8px;
    margin: auto;
    background: url(../images/yogastudio.jpg) no-repeat;
    background-position: right;
    background-size: 50%;
    
}

#left h4 {
    text-align: center;
}

#left p {
    line-height: 40px;
    width: 33%;
    float: left;
}

#right {
    height: 500px;
    width: 100%;
    padding: 8px;
    margin: 100px;
    background: url(../images/woman-on-mountain.jpg) no-repeat;
    background-position: left;
    background-size: 50%;
}

#right h4 {
    text-align: right;
    }

#right p {
    width: 33%;
    float: right;
    line-height: 40px;
    }

#center {
    height: 500px;
    width: 100%;
    padding: 8px;
    margin: 100px;
    clear: both;
    background: url(../images/yoga-mat.jpg) no-repeat;
    background-position: right;
    background-size: 50%;
}


#center h4 {
    text-align: left;
}

#center p {
    width: 33%;
    padding-left: 70px;
    float: left;
    line-height: 40px;
}

/* style to sign-up.html */

.sign-in-section {
    clear: left;
    height: 900px;
    color: #f2e2d2;
    background: url(../images/../images/yogastudio.jpg);
    background-size: cover;
    background-position: center;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 100px;
    
}

.signup-form {
    clear: left;
    margin: 150px 10% 0 0;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 500px;    
    position: absolute;
    
    left: 10%;
    padding: 30px;
}

.text-style {
    background-color: transparent;
    color: #f2e2d2;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 20px;
}

.text-style:hover {
    border-color: #f2e2d2;
}

.click {
    margin-top: 20px;
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f2e2d2;
    color: black;
    display: block;
}

.click:hover {
    background-color: black;
    color: #f2e2d2;
    cursor: pointer;
}


#log-in-section {
    clear: left;
    height: 900px;
    color: #f2e2d2;
    background: url(../images/../images/yogastudio.jpg);
    background-size: cover;
    background-position: center;
    font-size: 30px;
    line-height: 40px;
    margin-top: 100px;
}


.log-in-form {
    clear: left;
    margin: 150px 10% 0 0;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 500px;    
    position: absolute;
    left: 10%;
    padding: 30px;
}

/* footer */

footer {
    height: 200px;
}

#social-network {
    text-align: center;
}

#social-network > li {
    display: inline;
}

#social-network i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #221b21;
}


/* connect.html */

#start {
    height: 600px;
    width: 100%;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-color: #e1d2b7;
    clear: both;
    font-size: 30px;
    
}

#first_step h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 100px;
}

#first_step h3 {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    padding: 60px;
}

#first_step p {
    padding: 80px;
}

#connect-form {
    clear: left;
    height: 600px;
    color: black;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    font-size: 30px;
    line-height: 70px;
}

.schedule {
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    letter-spacing: 4px;
    background-color: #f2e2d2;
    width: 800px;
}
.schedule h3 {
    text-align: left;
}

.connect-form h3 {
    padding: 50px;
}

.options {
    text-align: left;
    padding-left: 30px;
    height: 100px;
}

#time-table {
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    font-size: 90%;
}

hr {
    display: none;
}
#plan {
    height: auto;
    width: 100%;
    background: url(../images/yogastudio.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#plan h2 {
    font-size: 40px;
    text-align: center;
    
    padding: 80px;
}


#plan-box {
    font-size: 20px;
    color: #fff;
    width: 33%;
    height: 200px;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
    border: 2px solid transparent;
    border-radius: 80px;
    margin: auto;
    position: relative; 
    float: left;    
}

#plan-box-two {
    font-size: 20px;
    color: #fff;
    width: 33%;
    height: 200px;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
    border: 2px solid transparent;
    border-radius: 80px;
    margin: auto;
    position: relative; 
    float: left;     
}

#plan-box-three {
    font-size: 20px;
    color: #fff;
    width: 33%;
    height: 200px;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
    border: 2px solid transparent;
    border-radius: 80px;
    margin: auto
    position: relative; 
    float: left;     
}


.select_plan {
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f2e2d2;
    color: black;
    display: block;
    margin: auto;
}

.select_plan:hover {
    background-color: black;
    color: #f2e2d2;
    cursor: pointer;
}



/* screen size 1300px and down */

@media screen and (max-width: 1300px){
    body {
        width: 100%;
        margin: 0;
        text-size-adjust: 60%;
    }

    
    #welcome {
        padding: 30px 0;
        margin: 0;
        height: 2000px;
        width: 65%;
    }

    #discover {
        width: 65%;
        height: 6000px;
        margin: 0 auto;
    }

    #left, #right, #center {
        clear: both;
        width: 65%;
    }
    #left p, #right p, #center p {
        float: left;
        font-size: 15px;
    }
    #studio, #mountain, #center {
        float: right;
    }
    hr {
        display: none;
    }

    #plan {
        height: auto;
        max-width: 100%;
        background: url(../images/yogastudio.jpg);
        background-position: center;
        background-size: 100% 100%;
        text-align: justify;
        overflow: hidden;
        position: relative;
    }

    #plan-box {
        
        color: #fff;
        width: 20%;
        height: 300px;
        background-color: rgba(60, 60, 60, 0.6);
        text-align: center;
        border: 2px solid transparent;
        border-radius: 80px 50px 80px 50px;
        padding: 100px;
        margin-left: 50px;
        float: left;
        position: relative;      
    }
    
    #plan-box-two {
        
        color: #fff;
        width: 20%;
        height: 300px;
        background-color: rgba(60, 60, 60, 0.6);
        text-align: center;
        border: 2px solid transparent;
        border-radius: 80px 50px 80px 50px;
        padding: 100px;
        margin-left: 50px;
        float: left;
        position: relative;      
    }
    
    #plan-box-three {
        
        color: #fff;
        width: 20%;
        height: 300px;
        background-color: rgba(60, 60, 60, 0.6);
        text-align: center;
        border: 2px solid transparent;
        border-radius: 80px 50px 80px 50px;
        padding: 100px;
        margin-left: 50px;
        float: left;
        position: relative;      
    }

    .select_plan {
      
        border-radius: 8px;
        padding: 15px 30px 15px 30px;
        text-align: center;
        
        background-color: #f2e2d2;
        color: black;
        display: block;
        margin: 50px;
    }
}

/* screen size for 950px and down */

@media screen and (max-width: 950px){
    body {
        margin: 0;
    }

    #menu {
        float: left;
        clear: left;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 15px;
        font-size: 60%;
    }
    #cover-text {
        left: 0px;
    }

    #welcome, #discover {
        width: 90%;
        margin: 0 auto;        
        clear: left;
    }

    #welcome {
        height: 3100px;
    }

    #discover {
        height: 5500px;
        margin: 0 auto;
    }

    #classes p {
        font-size: 15px;
    }

    #left, #right, #center {
        width: inherit;
        height: inherit;
        
    }

    #left h4, #right h4, #center h4 {
        width: 100%;
        text-align: left;
    }

    #left p, #right p, #center p {
        text-align: center;
        padding: 0;
        height: 180px;
    }

    #studio, #mountain, #online {
        width: 100%;
        
    }

    hr {
        display: none;
    }

    #plan {
        height: auto;
        max-width: 100%;
        background: url(../images/yogastudio.jpg);
        background-position: center;
        background-size: cover;
        text-align: justify;
        overflow: hidden;
        position: relative;
    }

    .select_plan {
      
        border-radius: 8px;
        padding: 15px 30px 15px 30px;
        text-align: center;
        
        background-color: #f2e2d2;
        color: black;
        display: block;
        margin: 50px;
    }
}

@media screen and (max-width: 600px) {
    body {
        max-width: 100%;
    }
}


