
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');


* {
    margin: auto;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: black;
}

/*----------------------------------- headings and logo */

#head {
    position: fixed;
    margin: 1%;
    z-index: 100px;
    background: #f2e2d2;
    line-height: 75px;
    width: 100%;
}
h1 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2c353a;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/*-------------------------------------- navigations links */

#menu {
    font-size: 130%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover  {
    border-bottom: 1px solid #221b21;
    cursor: pointer;
}

.active {
    border-bottom: 1px solid #221b21;
}

/*------------------------------------------ hero image */

#hero-outer {
    height: auto;
    width: auto;
    overflow: hidden;
    }

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    margin-top: 115px;
    clear: left;
    height: 800px;
    background: url(../images/balance.jpg) no-repeat;
    background-size: cover;
    background-position: center;
/*----- animates zoom effect on landing page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*----- creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 400px;
    height: 100px;
    padding-top: 40px;
    padding-left: 20px;
    background-color: rgba(90, 60, 60, 0.6);
    bottom: 300px;
    right: 150px;
    position: absolute;
}

/*--------------------------------------------- welcome */

#welcome {
    height: auto;
    margin: auto;
    text-align: center;
}

#welcome h2, #welcome h3 {
    font-weight: bold;
    letter-spacing: 4px;
}

#welcome h2 {
    padding: 80px;
    font-size: 50px;
    text-align: center;
}

#welcome h3 {
    font-size: 40px;
    padding-top: 80px;
    padding-left: 30px;
    padding-bottom: 40px;
    text-align: left;
}

#welcome p {
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 2px;
}

#welcome h4 {
    padding-top: 120px;
    text-align: left;
    padding-left: 30px; 
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

/*---------------------------------------------- discover */

#discover {
    height: auto;
    margin: auto;
    text-align: center;
}

#classes h2, #classes h3 {
    letter-spacing: 4px;
    font-weight: bold;
}
#classes h2 {
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 50px;
    text-align: center;
}

#classes h3 {
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: left;
    padding-left: 30px;
}

#classes p {
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 2px;
    padding-left: 25px;
}

#classes h4 {
    padding: 80px;
    font-size: 30px;
}

#left {
    border: 2px solid transparent;
    overflow: hidden;
}
#studio, #indoor {
    height: 600px;
    padding: 8px;
}
#studio {
    background: url(../images/yogastudio.jpg) no-repeat;
    background-position: right;
    margin-left: 20px;
    width: 80%;
    border-left: 2px solid transparent;
}
#indoor {
    background-color: #fff;
    overflow: hidden;
    margin: 10px;
    border: 2px dashed transparent;
    height: auto;
    float: left;
}
#left p {
    float: left;
}
#right {
    border: 2px solid transparent;
    overflow: hidden;
}
#outdoor, #mountain {
    height: 600px;
    padding: 8px;
}
#mountain {
    border-right: 2px solid transparent;
    width: 80%;
    margin-right: 20px;
    background: url(../images/woman-on-mountain.jpg) no-repeat;
    background-position: left;
}
#outdoor {
    background-color: #fff;
    overflow: hidden;
    margin: 10px;
    border: 2px dashed transparent;
    float: right;
    height: auto;
}
#right p {
    float: right;
}
#center{
    border: 2px solid transparent;
    overflow: hidden;
}
#online, #yogamat {
    height: 600px;
    padding: 8px;
}
#online {
    border-left: 2px solid transparent;
    width: 80%;
    background: url(../images/yoga-mat.jpg) no-repeat;
    background-position: right;
    margin-left: 20px;
}
#yogamat {
    background-color: #fff;
    overflow: hidden;
    margin: 10px;
    border: 2px dashed transparent;
    height: auto;
    float: left;
}
#center p {
    float: left;
}
/*------------------------------------------------------ style to sign-up.html */

.sign-in-section {
    clear: left;
    height: 900px;
    color: #f2e2d2;
    background: url(../images/../images/yogastudio.jpg);
    background-size: cover;
    background-position: center;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 100px;
    
}

.signup-form {
    clear: left;
    margin: 150px 10% 0 0;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 500px;    
    position: absolute;
    
    left: 10%;
    padding: 30px;
}

.text-style {
    background-color: transparent;
    color: #f2e2d2;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 20px;
}

.text-style:hover {
    border-color: #f2e2d2;
}

.click {
    margin-top: 20px;
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f2e2d2;
    color: black;
    display: block;
}

.click:hover {
    background-color: black;
    color: #f2e2d2;
    cursor: pointer;
}


#log-in-section {
    clear: left;
    height: 900px;
    color: #f2e2d2;
    background: url(../images/../images/yogastudio.jpg);
    background-size: cover;
    background-position: center;
    font-size: 30px;
    line-height: 40px;
    margin-top: 100px;
}


.log-in-form {
    clear: left;
    margin: 150px 10% 0 0;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 500px;    
    position: absolute;
    left: 10%;
    padding: 30px;
}

/* footer */

footer {
    margin: 1%;
}

#social-network {
    text-align: center;
}

#social-network > li {
    display: inline;
}

#social-network i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #221b21;
}


/*------------------------------------------------------- connect.html */

#start {
    
    height: auto;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-color: #fff;
    background-position:center;
    overflow: hidden;
    font-size: 30px;
    
}

#first_step h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 100px;
}

#first_step h3 {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    padding: 60px;
}

#first_step p {
    padding: 80px;
}

#connect-form {
    clear: left;
    height: 600px;
    color: black;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    font-size: 30px;
    line-height: 70px;
}

.schedule {
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    letter-spacing: 4px;
    background-color: #f2e2d2;
    width: 800px;
}
.schedule h3 {
    text-align: left;
}

.connect-form h3 {
    padding: 50px;
}

.options {
    text-align: left;
    padding-left: 30px;
    height: 100px;
}

#time-table {
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    font-size: 90%;
}

hr {
    display: none;
}
#plan {
    height: auto;
    width: 100%;
    background: url(../images/yogastudio.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#plan h2 {
    font-size: 40px;
    text-align: center;
    
    padding: 80px;
}
#plan-box {
    font-size: 25px;
    color: #fff;
    width: 33%;
    height: 250px;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
    border: 2px solid transparent;
    border-radius: 80px 80px 80px 80px;
    padding: 30px;
    margin: auto;
    position: relative; 
    float: left;    
}

#plan-box-two {
    font-size: 20px;
    color: #fff;
    width: 33%;
    height: 200px;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
    border: 2px solid transparent;
    border-radius: 80px;
    margin: auto;
    position: relative; 
    float: left;     
}

#plan-box-three {
    font-size: 20px;
    color: #fff;
    width: 33%;
    height: 200px;
    background-color: rgba(60, 60, 60, 0.6);
    text-align: center;
    border: 2px solid transparent;
    border-radius: 80px;
    margin: auto;
    position: relative; 
    float: left;     
}


.select_plan {
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f2e2d2;
    color: black;
    display: block;
    margin: auto;
}

.select_plan:hover {
    background-color: black;
    color: #f2e2d2;
    cursor: pointer;
}



/*------------------------------------- screen size 1300px and down */

@media screen and (max-width: 1300px){
    body {
        width: 100%;
        margin: auto;
    }
    #menu {
        font-size: 80%;
    }
    #hero-outer {
        height: 800px;
        width: auto;
        overflow: hidden;
        }
    #welcome {
        margin: auto;
        height: auto;
    }

    #discover {
        height: auto;
        margin: auto;
    }
    #studio {
        background: url(../images/yogastudio.jpg) no-repeat;
        background-position: center;
        border-left: 2px solid transparent;
        width: 100%;
        margin: 0;
    }
    #indoor {
        background-color: #fff;
        overflow: hidden;
        margin: 10px;
        border: 2px dashed transparent;
        height: auto;
        text-align: center;
    }
    #mountain {
        border-right: 2px solid transparent;
        background: url(../images/woman-on-mountain.jpg) no-repeat;
        background-position: center;
        width: 100%;
        margin: 0;
    }
    #outdoor {
        background-color: #fff;
        overflow: hidden;
        margin: 10px;
        border: 2px dashed transparent;
        height: auto;
        text-align: center;
    }
    #online {
        border-left: 2px solid transparent;
        background: url(../images/yoga-mat.jpg) no-repeat;
        background-position: center;
        width: 100%;
        margin: 0;
    }
    #yogamat {
        background-color: #fff;
        overflow: hidden;
        margin: 10px;
        border: 2px dashed transparent;
        height: auto;
        text-align: center;
    }

    hr {
        display: none;
    }

    #plan {
        height: auto;
        max-width: 100%;
        background: url(../images/yogastudio.jpg);
        background-position: center;
        background-size:contain;
        text-align: center;
        overflow: hidden;
        position: relative;
    }

    #plan-box {
        
        color: #fff;
        width: 20%;
        height: auto;
        background-color: rgba(60, 60, 60, 0.6);
        text-align: center;
        border: 2px solid transparent;
        border-radius: 80px;
        margin: auto;
        float: left;
        position: relative;      
    }
    
    #plan-box-two {
        
        color: #fff;
        width: 20%;
        height: auto;
        background-color: rgba(60, 60, 60, 0.6);
        text-align: center;
        border: 2px solid transparent;
        border-radius: 80px;
        margin: auto;
        float: left;
        position: relative;      
    }
    
    #plan-box-three {
        
        color: #fff;
        width: 20%;
        height: auto;
        background-color: rgba(60, 60, 60, 0.6);
        text-align: center;
        border: 2px solid transparent;
        border-radius: 80px;
        margin: auto;
        float: left;
        position: relative;      
    }

    .select_plan {
      
        border-radius: 8px;
        padding: 15px 30px 15px 30px;
        text-align: center;
        background-color: #f2e2d2;
        color: black;
        display: block;
        margin: 50px;
    }
}

/* ---------------------------------- screen size for 600px and down */

@media screen and (max-width: 600px){
    body {
        margin: auto;
        font-size: 15px;
        text-align: center;
    }
    #head {
        position:absolute;
        font-size: 10px;
        height: auto;
    }
    #menu {
        font-size: 80%;
    }
    #hero-outer {
        height: 800px;
        width: auto;
        overflow: hidden;
        }
    #hero-image {
        background-position: center;
        animation-name: none;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }
    #cover-text {
        font-size: 80%;
        font-family: roboto, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 400px;
        height: auto;
        padding-top: auto;
        padding-left: 20px;
        background-color: rgba(90, 60, 60, 0.6);
        bottom: 300px;
        position: absolute;
        right: 0;
    }
    #welcome {
        height: auto;
        margin: auto;
    }

    #discover {
        height: auto;
        margin: auto;
    }
    #studio {
        float: none;
        margin-left: 0;
        width: auto;
        border: 0;
        border-bottom: 2px solid transparent;
        text-align: center;
        background-position: center;
    }
    #indoor {
        text-align: center;
        font-size: 15px;
    }
    #left p {
        width: 95%;
        text-align: center;
    }
    #mountain {
        border-bottom: 2px solid transparent;
        width: auto;
        margin-right: 0;
        float: none;
        border: 0;
        text-align: center;
        background-position: center;
    }
    #outdoor {
        text-align: center;
        font-size: 15px;
    }
    #right p {
        width: 95%;
        text-align: center;
    }
    #online {
        border-left: 2px solid transparent;
        width: auto;
        margin-left: 0;
        float: none;
        background-position: center;
        text-align: center;
    }
    #yogamat {
        text-align: center;
        font-size: 15px;
    }
    #center p {
        width: 95%;
        text-align: center;
    }

    hr {
        display: none;
    }

    #plan {
        height: auto;
        max-width: 100%;
        background: url(../images/yogastudio.jpg);
        background-position: center;
        background-size: cover;
        text-align: justify;
        overflow: hidden;
        position: relative;
    }

    .select_plan {
      
        border-radius: 8px;
        padding: 15px 30px 15px 30px;
        text-align: center;
        
        background-color: #f2e2d2;
        color: black;
        display: block;
        margin: 50px;
    }
}


